<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667431304393-6kb5qprt33u4sh2os3rg1aeibua1al9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667431304393-6kb5qprt33u4sh2os3rg1aeibua1al9h</string>
	<key>API_KEY</key>
	<string>AIzaSyBihZogv2e0nQX50Uxj4Fn3l7XCFgVN0rI</string>
	<key>GCM_SENDER_ID</key>
	<string>667431304393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrtvrgn.MVPlayground</string>
	<key>PROJECT_ID</key>
	<string>ios-playground-7ea47</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-playground-7ea47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667431304393:ios:d960e01a3d2a1c306ea118</string>
	<key>DATABASE_URL</key>
	<string>https://ios-playground-7ea47.firebaseio.com</string>
</dict>
</plist>